spring:
  data:
    rest:
      base-path: /api
  datasource:
    url: jdbc:h2:file:~/react_tutorial_DB;
    driver-class-name: org.h2.Driver
    username: sa
  jpa:
    generate-ddl: true
    show-sql: false
    hibernate:
      ddl-auto: update
  thymeleaf:
    cache: false

